:root{
    --glass-background: linear-gradient(to right bottom,#ffffffcc,#ffffff33);
    --glass-header: #ffffff66;
    --glass-container: #ffffff44;
    --glass-sidebar: #ffffff55;
    --font-color: #000;
}
.dark-mode{
    --glass-background: linear-gradient(to right bottom,#000000dd,#00000066);
    --glass-header: #00000066;
    --glass-container: #00000066;
    --glass-sidebar: #00000077; 
    --font-color: #fff;
}

.style1{ --bg-gradient: linear-gradient(to right top, #009ffd, #2a2a72); }
.style2{ --bg-gradient: linear-gradient(to right top, #3bb78f, #0bab64); }
.style3{ --bg-gradient: linear-gradient(to right top, #a71d31, #3f0d12); }
.style4{ --bg-gradient: linear-gradient(to right top, #ffdd00, #fbb034); }
.style5{ --bg-gradient: linear-gradient(to right top, #a4508b, #5f0a87); }
.style6{ --bg-gradient: linear-gradient(to right top, #ec9f05, #ff4e00); }
.style7{ --bg-gradient: linear-gradient(to right top, #bdd4e7, #8693ab); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
    color: var(--font-color);
}

/* <<< Main >>> */
main{
    min-height: 100vh;
    background: var(--bg-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    height: 85vh;
    width: 85%;
    background: var(--glass-background);
    border-radius: 2.5rem;
    z-index: 2;
    /* Blur */
    backdrop-filter: blur(1rem);
    display: block;
    position: fixed;
}
/* <<< Background >>> */
.bg-circle1, .bg-circle2, .bg-circle3, .bg-circle4{
    background:  var(--glass-background);
    height: 20vh;
    width: 20vh;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}
.bg-circle1{
    top: 5%;
    right: 20%;
}
.bg-circle2{
    height: 30vh;
    width: 30vh;
    top: 35%;
    left: 5%;
}
.bg-circle3{
    height: 25vh;
    width: 25vh;
    bottom: 5%;
    right: 10%;
}

/* <<< Header >>> */
header{
    background: transparent;
    width: 100%;
    display: flex;
    height: 10vh;
}
.title{
    float: left;
    background: var(--glass-header);
    width: 50%;
    border-radius: 2.5rem 0 0 0;
    text-align: center;
    position: relative;
}
.title h1{
    font-size:1.6rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info{
    float: left;
    background: var(--glass-header);
    width: 50%;
    border-radius: 0 2.5rem 0 0;
    display: flex;
    
}
.info span{
    height: 8vh;
    margin: auto 1rem;
    background: var(--glass-header);
    border-radius: 1.5rem;
    padding: auto;
    text-align: center;
    width: 100%;
    position: relative;
}
.info span p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* <<< Main >>> */
.home{
    background: transparent;
    width: 100%;
    display: flex;
    height: 65vh;
}
.container{
    float: left;
    border-radius: 2.5rem;
    background: var(--glass-container);
    width: 80%;
    margin: 1rem .5rem 1rem 1rem;
}
.container h1{
    font-size: 6rem;
    margin: .5rem;
    text-align: center;
}
.container h3{
    font-size: 2rem;
    text-align: center;
    margin: .5rem;
}
.container h4{
    font-size: 1.25rem;
    text-align: center;
    margin: .5rem;
}
.container p{
    font-size: 1rem;
    margin: 1rem;
}
.sidebar{
    float: left;
    border-radius: 2.5rem;
    background: var(--glass-sidebar);
    width: 20%;
    margin: 1rem 1rem 1rem .5rem;
    padding: 1rem;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    
}
.sidebar span{
    display: block;
    height: 3rem;
    width: 100%;
    border-radius: 1rem;
}
/* <<< Footer >>> */
footer{
    background: var(--glass-header);
    border-radius: 0 0 2.5rem 2.5rem;
    height: 10vh;
    text-align: center;
    line-height: 2vh;
}
footer p:first-child{
    padding-top: 1vh;
}
footer .email{
    background: var(--bg-gradient);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding: .4rem 1.5rem;
    border-radius: 2rem;
    color: #000;
    margin-top: .2rem;
}

@media screen and (max-height: 850px){
    .sidebar span{
        height: 2.5rem;
    }
}
@media screen and (max-height: 750px){
    .sidebar span{
        height: 2rem;
    }
}
@media screen and (max-height: 650px){
    .sidebar span{
        height: 1.5rem;
    }
}
@media screen and (max-height: 550px){
    .sidebar span{
        height: 1rem;
    }
}
@media screen and (max-width: 920px){
    .container h1{
        font-size: 3rem;
        margin: .5rem;
    }
    .container h3{
        font-size: 1.2rem;
    }
    .container h4{
        font-size: .9rem;
        margin: .5rem;
    }
    .container p{
        font-size: .8rem;
        margin: 0 .5rem;
    }
}
@media screen and (max-width: 300px){
    .container h1{
        font-size: 2rem;
        margin: .5rem;
    }
    .container h3{
        font-size: 1rem;
    }
    .container h4{
        font-size: .8rem;
        margin: .5rem;
    }
    .container p{
        font-size: .65rem;
        margin: 0 .5rem;
    }
}
@media screen and (max-width: 500px){
    *{
        font-size: 12px;
    }
}
